.dashboardContainer  {
    
    /* display: grid;
    place-items: center;
    color: white;
    padding: 5px;
    
    z-index:50;
    position:relative;
    flex: 1;
    max-height: 100dvh; */
}

.dashboardContainer::-webkit-scrollbar { 
    display: none;
}

h1{
    text-align: center;
}