.buttons {
    cursor: pointer;
}
  
  /* Define a hover effect for the button */
.buttons:hover {
    cursor: grab; /* grasping hand icon */
    background-color: #555; /* Darker background color on hover */
    color: #fff; /* Lighter text color on hover */
  }
  
  .nonSelectedButton{
    background-color: #333; /* Dark background color */
    color: #fff; /* Lighter text color */
  }
  
  .selectedButton {
    color: white;
    background-color: red;
  }
  
  .buttonContainer {
    margin: 0 auto;
  }